# Ignore everything
*

# Do include these
!docs/*
!LICENSE
!README.md
!tagger_firmware/*
!update_git_hash.sh
!Makefile
!CHANGELOG.md
!.gitignore

# even when they are in subdirectories
!*/

# Ignore this
tagger_firmware/git_info.h
